
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.movieRow{
  margin-bottom: 30px;
}
.movieRow h2{
  margin: 0px 0px 0px 30px;
}

.movieRow-area{
  overflow-x: auto;
  padding-left: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.movieRow-area::-webkit-scrollbar{
  display: none;
}
.movieRow-list{
  transition: all ease 0.5s;
}
.movieRow-item{
  display: inline-block;
  width: 170px;
}
.teste2{
  overflow-x: auto;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.teste2::-webkit-scrollbar{
  display: none;
}
.similar{
  overflow-x: auto;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.similar::-webkit-scrollbar{
  display: none;
}
.cast-list {
  transition: all ease 0.5s;
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.item-cast {
  width: 150px;
  height: 225px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  flex-shrink: 0;
}
.item-similar {
  width: 150px;
  height: 225px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  flex-shrink: 0;
  transform: scale(0.95);
  transition: all 250ms ease-in-out;

}
.item-similar:hover {
  cursor: pointer;
  transform: scale(1);
}
.movieRow-item img{
  width: 100%;
  transform: scale(0.9);
  transition: all 250ms ease;
}
.movieRow-item img:hover{
  transform: scale(1);
  cursor: pointer;
}
.movieRow-left,.movieRow-right{
  position: absolute;
  width: 35px;
  height: 255px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}
.movieCast-left,.movieCast-right{
  position: absolute;
  width: 35px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.2);
  /* z-index: 99; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}
.movieCast-left{
  left: 0;
}
.movieCast-right{
  right: 0;
}
.movieRow:hover .movieRow-left,
.movieRow:hover .movieRow-right{
  opacity: 1;
}
.movieRow-left{
  left: 0;
}
.movieRow-right{
  right: 0;
}
.player-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
@keyframes teste {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.player-container {
  animation: teste 0.8s ease-in-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.player-container::-webkit-scrollbar {
  width: 3px;
  height: 100%;
}

.player-container::-webkit-scrollbar-track {
  background-color: inherit;
}

.player-container::-webkit-scrollbar-thumb {
  background-color: #888;
}

.player-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.player-container-video {
  z-index: 9999;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  min-height: fit-content;
  position: sticky;
  top: 0;
}
.video-image{
  background-color: rgba(0, 0, 0, 1);
  flex: 1;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-image img{
  top: 0;
  max-width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
@keyframes closeEf {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
.closeEf{
  animation: closeEf 0.8s ease-in-out;
}
.close-button {
  align-self: flex-end;
  padding-top:10px;
  width: fit-content;
  height: fit-content;
  background:none;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
}
.movies-infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
.item-name{
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0px 10px 0px;
}
.item-details{
  margin-bottom: 10px;
  /* width: 230px; */
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  align-items: center;
}
.item-details2{
  margin-bottom: 10px;
  /* width: 190px; */
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: space-between; */
  align-items: center;
}
.item-average{
  color: #46d369;
  font-weight: bold;
  margin-right: 10px;

  font-size: 16px;
}
.item-year{
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}
.item-age{
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 20px;
  padding: 0px 5px;
  font-size: 16px;
  font-weight: bold;
}
.item-overview{
  margin-top: 5px;
  font-size: 18px;
  color: #999;
  max-width: 80%;
}
.item-genres{
  margin-top: 15px;
  /* font-size: 18px; */
  color: #999;
}
.item-season{
  /* font-weight:500 ; */
  color: lightseagreen;
  font-size: 15px;
  margin: 0px 0px 10px 0px;
}
.item-season strong{
  font-weight: bold;
  color: white;
}
.ver-mais-button{
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  cursor: pointer;
  color: lightcyan;
  border: none;
  background: none;
}
.hide-scroll {
  overflow: hidden;
}
.providers-container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.providers-list {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.providers-list ul {
  flex-wrap: wrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.providers-list ul::-webkit-scrollbar {
  display: none;
}

.providers-list ul li {
  margin: 0px 0px 0px 10px;
}

.providers-list img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.header-details{

  border-left: 3px solid red;
  padding-left: 5px;
}
.player-wrapper2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cast-item-header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
}
.close-buttonCast{
  padding-top:10px;
  width: fit-content;
  height: fit-content;
  background:none;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 9999;
}
@media (max-width: 800px){
  .movieRow-left,
  .movieRow-right{
    opacity: 1;
  }
  .player-container {
    width: 100%;
    height: 100%;
    border: none;
  }
  .movieRow-area{
    overflow-x: auto;
  }
  .teste2{
    overflow-x: auto;
  }
  .similar{
    overflow-x: auto;
  }
  .providers-list ul{
    flex-wrap: nowrap;
    overflow: auto;
  }
  /* .player-container-video{
    height: 27%;
  } */
}