/* Largura da scrollbar */
::-webkit-scrollbar {
  width: 3px;
}

/* Cor do fundo da scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Cor da alça da scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Hover na alça da scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.movieRow{
  margin-bottom: 30px;
}
.movieRow h2{
  margin: 0px 0px 0px 30px;
}

.movieRow-area{
  overflow-x: hidden;
  padding-left: 20px;
}
.movieRow-list{
  transition: all ease 0.5s;
}
.movieRow-item{
  display: inline-block;
  width: 170px;
}
.teste2{
  overflow: hidden;
  width: 100%;
}
.similar{
  overflow: hidden;
  width: 100%;
}
.cast-list {
  background-color: #46d369;
  transition: all ease 0.5s;
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.item-cast {
  width: 150px;
  height: 225px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  flex-shrink: 0;
}
.movieRow-item img{
  width: 100%;
  transform: scale(0.9);
  transition: all 250ms ease;
}
.movieRow-item img:hover{
  transform: scale(1);
  cursor: pointer;
}
.movieRow-left,.movieRow-right{
  position: absolute;
  width: 35px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.8;
  transition: all ease 0.5s;
}
.movieRow-left{
  left: 0;
}
.movieRow-right{
  right: 0;
}
.player-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.player-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 95%;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  position: relative;
}
.player-container::-webkit-scrollbar {
  width: 3px;
  height: 100%;
}

.player-container::-webkit-scrollbar-track {
  background-color: inherit;
}

.player-container::-webkit-scrollbar-thumb {
  background-color: #888;
}

.player-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.player-container-video {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  min-height: fit-content;
  position: sticky;
  top: 0;
}
.video-image{
  background-color: rgba(0, 0, 0, 1);
  flex: 1;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-image img{
  top: 0;
  max-width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.close-button {
  align-self: flex-end;
  padding-top:10px;
  width: fit-content;
  height: fit-content;
  background:none;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
}
.movies-infos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}
.item-name{
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0px 10px 0px;
}
.item-details{
  margin-bottom: 10px;
  width: 195px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.item-average{
  color: #46d369;
  font-weight: bold;
  font-size: 16px;
}
.item-year{
  font-size: 16px;
  font-weight: bold;
}
.item-overview{
  margin-top: 5px;
  font-size: 18px;
  color: #999;
  max-width: 80%;
}
.item-genres{
  margin-top: 15px;
  /* font-size: 18px; */
  color: #999;
}
.item-season{
  /* font-weight:500 ; */
  color: lightseagreen;
  font-size: 15px;
  margin: 0px 0px 10px 0px;
}
.item-season strong{
  font-weight: bold;
  color: white;
}
.ver-mais-button{
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  cursor: pointer;
  color: lightcyan;
  border: none;
  background: none;
}
.hide-scroll {
  overflow: hidden;
}
.providers-container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.providers-list {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.providers-list ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.providers-list ul li {
  margin: 0px 0px 0px 10px;
}

.providers-list img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.header-details{

  border-left: 3px solid red;
  padding-left: 5px;
}
@media (max-width: 800px){
  .movieRow-left,
  .movieRow-right{
    opacity: 1;
  }
  .player-container {
    width: 100%;
    height: 100%;
  }
  .movieRow-area{
    overflow-x: auto;
  }
  .teste2{
    overflow-x: auto;
  }
  .similar{
    overflow-x: auto;
  }
  /* .player-container-video{
    height: 27%;
  } */
}