.search-container{
  position: relative;
  width: 280px;
}
.search-box{
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 15px;
  background-color: #212529;
  border-radius: 5px;
  width: 280px;
}
.search-box:focus-within{
  background-color: #212529;
}
.input-box{
  color: white;
  background: none;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}
.input-box::placeholder{
  color: rgb(177, 173, 173);
  font-size: 14px;
}
.result{
  width: 280px;
  color: white;
  position: absolute;
  margin-top: -3.1px;
  padding: 3px 0px;
  background-color: #212529;
  overflow-y: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 350px;
}
.items-result{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.items-result img{
  width: 140px;
  height: 200px;
  transform: scale(0.9);
}

.text-white {
  color: #fff;
}

.fw-bold {
  font-weight: bold;
}

.mb-0 {
  margin-bottom: 0;
}

.small {
  font-size: small;
}
.medium {
  font-size: medium;
}

.text-secondary {
  color: #6c757d;
}
.name-year{
  width: 30%;
  display: flex;
  flex-direction: column;
}